#my-body {
    width: 1000px;
    height: 1600px;
    background-color: #353535;
}

#my-navbar {
    background-color: white;
    border-top: 5px solid #A7C353;
}

#logo {
    width: 309px;
    margin-top: 5px;
}

#home {
    background-color: #A7C353;
}

#nav-li {
    margin-left: 0px;   /*try many time*/
}