a {
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}

body {
    width: 1300px;
    margin: auto;
    background-color: #F4F4F4;
    font-family: sans-serif;
    font-size: 15px;
}

#search {
    height: 50px;
    background-color: #33409E;   
}

#logo {
    width: 45px;
    height: 45px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

#name {
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 10px;
    line-height: 48px;
    color: #CAD1E9;
    font-size: 32px;
    font-family: Roboto;
    text-decoration: none;
} 

#name:hover {
    color: white;
}

#box {
    width: 690px;   /* tinh toan */
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #3F59B9;
}

#box-pic {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 2.5px;
    margin-left: 20px;
}

#box-text {
    width: 625px;
    height: 18px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

#menu {
    height: 150px;
    background-color: #4864C0;
    color: white;
}

#line-link{
    height: 50px;
    width: 1300px;
    float: left;
}

#line-link ul {
    padding: 0px;   /*mất khoảng cách ul-li*/
}

#line-link ul li {   
    float: left;
    margin-left: 10px;
    font-size: 13px;
}

#line-title{
    height: 50px;
    float: left;
}

#line-menu{
    height: 50px;
    float: left;
}

#main {
    height: 500px;

}

#links { 
    height: 300px;
 
}

.links {
    background-color: white;
    width: 370px;
    height: 300px;
    float: left;
    margin-left: 70px;
}

.links-pic {
    width: 340px;
    height: 40px;
    padding: 0px;
    /*background-color: #80FF00;*/
    margin-top: 0px;
}

.links-pic h4 {
    line-height: 20px;
}

.pic {
    width: 35px;
    height: 40px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.text {
    width: 300px;
    height: 40px;
    float: left;
}

.links ul {
    list-style-type: none;
}

.links li {
    margin-top: 15px ;
}

.links ul li a {
    text-decoration: none;
    color: black;   
}

.links ul li a:hover {
    background: #E9E9E9;  
}